/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(199, 219, 167);
  background-size: cover;
  background-position: center;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header-top::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header-top::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.header-top:hover::after {
  left: 100%;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: skyblue;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 992px) {
  .header-top {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
* {
  margin: 0;
  padding: 0%;
}
.container-mid {
  height:50px;
  width: 50%;
  /* background-image: linear-gradient(rgb(129, 96, 221), rgb(86, 67, 129)); */
  background-position:center;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-color: rgba(129, 96, 221);
  padding: 10px;
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: solid 0px transparent;
  /* padding: 24px 20px; */
  font-size: 15px;
  color: #cccc;
}
::placeholder {
  color: whitesmoke;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* navbarend */


.outer {
    height: 350px;
    width: 270px;
}

.container>.mname {
    margin-top: 40px;
    margin-left: 10px;
}
header{
  background-size:cover;
  background-position:center;
  width:100%;
  height: 560px;;
  position:relative;
  padding-top:80px;
}
header .popular-movie-slider{
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:start;
    gap:35px;
    padding:10px 100px;
    position:relative;
   
  }
  
  header .popular-movie-slider .poster{
    position: relative;
    top: -20px;
    width:320px;
    height:450px;
    object-fit:fill;
    border-radius:13px;
  }

  
  header .popular-movie-slider .popular-movie-slider-content{
    line-height:25px;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-name{
    font-size:1.8em;
  }
  
  
  header .popular-movie-slider .popular-movie-slider-content .category{
    display:flex;
    gap:30px;
    text-transform:capitalize;
    margin:10px 0;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .desc{
    font-size:.90em;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-info{
    display:flex;
    gap:30px;
    margin:25px 0;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-info .fa-circle{
    color:#DB0000; 
    font-size:.85em;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-info .fa span{
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:15px;
  }
  
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns{
    display:flex;
    gap:10px;
  }
  
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button{
    width:200px;
    border:none;
    outline:none;
    padding:15px 0;
    border-radius:100px;
    font-size:1em;
    background:#DB0000;
    color:#fff;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2px;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button .fa{
    font-size:.65em;
    color:#fff;
  }
  
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns .read-more{
    background:none;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns .read-more:hover{
    background:#000;
  }
  
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button:hover{
    background:#000;
  }
  
  
  section .movie-ticket-book{
    position: relative;
    top: 8px;
    background:#222;
    color:#fff;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
    align-items:center;
    padding:30px 100px;
  }
  
  
  section .movie-ticket-book .choose-date ,
  section .movie-ticket-book .choose-time {
    position:relative
  }
  
  section .movie-ticket-book .choose-date .heading,
  section .movie-ticket-book .choose-time .heading{
    text-transform:uppercase;
    font-weight:400;
  }
  
  section .movie-ticket-book .choose-date .wrapper,
  section .movie-ticket-book .choose-time .wrapper{
    width: 300px;
  }
  section .movie-ticket-book .choose-date .carousel,
  section .movie-ticket-book .choose-time .carousel{
    margin-top:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
  }
  
  section .movie-ticket-book .choose-date .carousel .owl-nav,
  section .movie-ticket-book .choose-time .carousel
  .owl-nav{
    color:#DB0000;
    position:absolute;
    width:99%;
    top:50%;
    left:-15px;
    transform:translate(0,-50%);
    font-size:1.5em;
    display:flex;
    justify-content:space-between;
  }
  
  
  section .movie-ticket-book .choose-date .carousel .card p:nth-child(1),
  section .movie-ticket-book .choose-time .carousel .card p:nth-child(1){
    color:#888;
    font-size:.75em;
  }
  
  
  section .movie-ticket-book .choose-date .carousel .card p:nth-child(2),
  section .movie-ticket-book .choose-time .carousel .card p:nth-child(2){
    color:#fff;
    font-size:1.2em;
    text-transform:uppercase;
  }
  
  
  section .movie-ticket-book .choose-date .wrapper .marker,
  section .movie-ticket-book .choose-time .wrapper .marker{
    width:60px;
    height:2px;
    background:#DB0000;
    position:absolute;
    left:45%;
    transform:translate(-50%,0);
  }
  
  
  
  section .movie-ticket-book button{
    border:none;
    outline:none;
    height:50px;
    background:#DB0000;
    color:#fff;
    border-radius:50px;
    padding:10px 50px;
    cursor:pointer;
  }
  
  section .movie-ticket-book button:hover{
    background:#000;
  }
  .main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }
  .firstdiv{
    width: 400px;
  }
  .firstdiv>div{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:30px ;
  }
  .firstdiv>div>i{
    color: yellow;
    font-size: 20px;
  }
  .firstdiv>div>.fa-info{
    margin-left: 48px;
    padding-right: 20px;
  }
  .seconddiv>i{
    margin-left: 122px;
    padding-right: 10px;
  }
  .tb{
    border:solid grey 2px ;
    width: 100px;
    border-radius: 12px;
    margin-right: 20px;
   
  }
  .applygrid{
    margin-top: 6px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
  }
  .line{
    background-color: grey;
    height: 1px;
    width: 100%;
    margin-top: 5px;
  }
  .fgrid{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .movieInfo{
    background-color: #222;
    color: white;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 70px;
  }
  .movieInfo>.fgrid>h1{
    font-size: 40px;
  }
  .movieInfo>.fgrid>h5{
    border: solid 1px grey;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
  }
  .movieInfo>.sgrid{
    position: relative;
    left: 200px;
    /* top: -10px; */
  }
  .move{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: flex-end;
  }

  /* seating :start */
.tss{
  margin-top: 90px;
}
  .theater {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    margin: 10px;
  }
  
  .row-label {
    font-weight: bold;
    margin-right: 5px;
    margin-top: 12px;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
  }
  
  .seat.selected {
    background-color: #3498db;
    color: white;
  }
  
  .seat.available:hover {
    background-color: #2ecc71;
    color: white;
  }
  
.row{
 display: flex;
 flex-direction: row;
 margin-left: -20px;
 margin-bottom: -8px;
}
.column{
display: flex;
margin-left: 35px;
}
  /* seating end */

  .show-time-container {
    /* Add your regular styles for the show container here */
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .right{
    display: flex;
    justify-content: space-evenly;
  }